#item-1 img{
    height: 170px;
    width: 150px;
    display: block;
    margin: 25px 160px;
}
#item-2 img{
    height: 170px;
    width: 210px;
    display: block;
    margin: 25px 160px;
    border-radius: 100%;
}
#item-3 img{
    height: 170px;
    width: 210px;
    display: block;
    margin: 25px 160px;
    border-radius: 100%;
}
#item-4 img{
    height: 170px;
    width: 210px;
    display: block;
    margin: 25px 160px;
    border-radius: 100%;
}